@import url(https://fonts.googleapis.com/css2?family=Orbitron);
body {
    background-color: black;
    font-family: 'Orbitron', cursive;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }
  
  body:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: repeating-linear-gradient(#0D122B, #0D122B 2px, #565B73 2px, #565B73 4px);
    opacity: 0.2;
    z-index: 100;
    content: "";
    pointer-events: none;
  }

div.mainContainer{
    color: #40e6ff;
    text-shadow: 1px 1px #309fb0;
    background-color: transparent;
    border-color: coral;
    position: absolute;
    top: 25%;
    right: 25%;
    bottom: 25%;
    left: 25%;
    z-index: 110;
}

.loggingExterior{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-top-color: coral;
    border-right-color: coral;
    border-left-color: coral;
    border-bottom-color: coral;
}

.loggingExterior.appearing{
    animation-name: exteriorBorderAppearing;
    animation-duration: 2s;
}

@keyframes exteriorBorderAppearing {
    0% {
        border-width: 0px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }

    100% {
        border-width: 2px;
        border-top-color: coral;
        border-right-color: coral;
        border-left-color: coral;
        border-bottom-color: coral;
    }
}

.loggingExterior.disappearing{
    animation-name: exteriorBorderDisappearing;
    animation-duration: 2s;
}

@keyframes exteriorBorderDisappearing {
    0% {
        border-width: 2px;
        border-top-color: coral;
        border-right-color: coral;
        border-left-color: coral;
        border-bottom-color: coral;
    }
    100% {
        border-width: 0px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
}

.loggingPassword{
    font-family: 'Orbitron', cursive;
    font-size: 30px;
    color: #40e6ff;
    text-shadow: 1px 1px #959b9c;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	height: 30px;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: #40e6ff;
    border-radius: 3px;
    z-index: 150;
}
.loggingPassword:focus{
    outline-width: 0;
}

.loggingText{
    font-family: 'Orbitron', cursive;
    color: #40e6ff;
    text-shadow: 1px 1px #959b9c;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	height: 30px;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: #40e6ff;
    border-radius: 3px;
    z-index: 150;

}
.loggingText:focus{
    outline-width: 0;
}

.loggingText.appearing{
    animation-name: loggingTextBorderAppearing;
    animation-duration: 2s;
}

@keyframes loggingTextBorderAppearing {
    0% {
        border-width: 0px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }

    100% {
        border-width: 2px;
        border-top-color: #40e6ff;
        border-right-color: #40e6ff;
        border-left-color: #40e6ff;
        border-bottom-color: #40e6ff;
    }
}

.loggingText.disappearing{
    animation-name: loggingTextBorderAppearing;
    animation-duration: 2s;
}

@keyframes loggingTextBorderDisppearing {
    0% {
        border-width: 2px;
        border-top-color: #40e6ff;
        border-right-color: #40e6ff;
        border-left-color: #40e6ff;
        border-bottom-color: #40e6ff;
    }
    100% {
        border-width: 0px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
}

.loggingPassword.disappearing{
    animation-name: loggingPasswordBorderDisappearing;
    animation-duration: 2s;
}

@keyframes loggingPasswordBorderDisappearing {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.inputLabel{
    font-size: 20pt;
}

.inputLabel.disappearing{
    animation-name: labelTextDisappearing;
    animation-duration: 2s;
}

@keyframes labelTextDisappearing {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.inputLabel.appearing{
    animation-name: labelTextAppearing;
    animation-duration: 1s;
}

@keyframes labelTextAppearing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.grantedLabel{
    font-size: 30pt;
    color: coral;
    text-shadow: 1px 1px #ff7b57;
}

.grantedLabel.disappearing{
    animation-name: labelTextDisappearing;
    animation-duration: 1s;
}

@keyframes labelTextDisappearing {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.grantedLabel.appearing{
    animation-name: labelTextAppearing;
    animation-duration: 5s;
}

@keyframes labelTextAppearing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}